services:
  laravel:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: laravel
    stdin_open: true
    tty: true
    ports:
      - "8000:8000"
      - "5173:5173"
    volumes:
      - .:/var/www/html
    networks:
      - docker_default
    restart: no
volumes:
  mysql_data:
    external: true
networks:
    docker_default:
      external: true
